asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
cloudinary==1.45.0
colorama==0.4.6
crispy-bootstrap4==2026.2
Django==6.0.4
django-cloudinary-storage==0.3.0
django-crispy-forms==2.6
dotenv==0.9.9
gunicorn==26.0.0
h11==0.16.0
idna==3.18
packaging==26.2
pillow==12.2.0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.7.0
uvicorn==0.49.0
whitenoise==6.12.0
